/* commmon style */
.fl {
    float: left;
}
/* commmon style end*/
html {
    font-family: "PingFang SC", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
}
html, body {
    height: 100%
}
[draggable="true"] {
    cursor: move;
}
body {
    background-color: #edeff0;
}
[data-role="label"] {
    overflow: hidden;
    font-size: 0;
    & > input {
        display: none;
        outline: none;
        height: 100%;
        border: none;
        font-size: inherit;
        font-family: inherit;
    }
}
.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.side-container,
.panel-container {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.side-container {
    width: 260px;
    min-height: 400px;
}
.side-item {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #edf1f2;
    & > a {
        padding: 0 10px 0 15px;
        display: block;
        line-height: 60px;
        color: #787d82;
        font-size: 14px;
    }
    &.selected::before {
        position: absolute;
        content: '';
        top: 0;
        left: -20px;
        width: 2px;
        background-color: #ff0000;
        height: .6rem;
    }
    &.selected {
        & > a {
            color: #cc0000
        }
    }
}
.panel-container {
    margin-left: 280px;
    height: 100%;
}
.panel-item {
    padding: 10px 20px;
    min-height: 500px;
    .panel-header {
        font-weight: normal;
        font-size: 16px;
        color: #363d40;
        line-height: 49px;
        border-bottom: 1px solid #eceff0;
    }
    .panel-body {

    }
}
.signature-props {
    padding: 10px 0;
    margin-left: -6px;
    
}
.props-item {
        height: 30px;
        margin: 8px 6px;
        display: inline-block;
        color: #fff;
        background-color: #00b33b;
        border-radius: 5px;
        overflow: hidden;
        .props-item-label {
            padding: 0 10px;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
        }
    }
.signature-container {
    position: relative;
    min-height: 400px;
    background-color: #edeff0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset;
    &.over {
        border-color: #ff0000;
    }
    & > [data-role="label"] {
        position: absolute;
    }
}

.guide-line-x,
.guide-line-y {
    display: none;
    position: absolute;
    border-style: dashed;
    border-color: red;
    border-width: 0;
    z-index: 4;
}
.guide-line-x {
    width: 0;
    height: 100%;
    border-left-width: 1px;
    left: 200px;
    
}
.guide-line-y {
    top: 70px;
    height: 0;
    border-bottom-width: 1px;
    width: 100%;
}
.context-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    li {
        padding: 0 10px;
        & > a {
            display: block;
            height: 30px;
            min-width: 60px;
            text-align: center;
            line-height: 30px;
            font-size: 14px;
            color: #000;
        }
        &:hover {
            background: #ccc;
        }

    }
}
.alter-modal {
    position: absolute;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    .alter-group {
        width: 140px;
        font-size: 12px;
        color: #333;
        margin-bottom: 5px;
        label {
            display: block;
            font-size: 12px;
            line-height: 1;
            color: #34495e;
            margin-bottom: 5px;
        }
        span {
            display: block;
            height: 20px;
            line-height: 20px;
        }
        input {
            width: 100%;
            outline: none;
            height: 100%;
        }
    }
}
.signature-toolbar {
    overflow: hidden;
    padding: 6px 20px;
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #e8e8e8;
    line-height: 20px;
    .toolbar-button {
        float: left;
        padding-right: 10px;
        border-right: 1px solid #999;
        margin-right: 10px;
    }
    .toolbar-font-size {
        & > input {
            vertical-align: middle;
            width: 35px;
        }
    }
    .toolbar-font-family {
        & > select {
            vertical-align: middle;
        }
    }
    .toolbar-font-color {
        & > input {
            width: 40px;
            vertical-align: middle
        }
    }
    .toolbar-image-upload {
        & > label {
            display: inline-block;
            width: 100px;
            line-height: 1.6;
            font-size: 12px;
            background: #00b33b;
            color: #fff;
            text-align: center;
            border-radius: 3px;
            cursor: pointer;
        }
        & > input {
            display: none
        }
        border-right: none
    }
    .toolbar-console {
        float: right;
        font-size: 12px;
        vertical-align: middle;
    }
}
.disabled {
    background: #999!important;
    pointer-events: none!important;
    cursor: not-allowed!important;
}
.selected {
    box-shadow: 0 0 3px #000
}
.alert-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 89;
    background: rgba(0,0,0,0.1);
    visibility: hidden;
    height: 0;
    transition: all .3s ease;
}
.alert-mask.show {
    visibility: visible;
    height: 100%;
}
.alert.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.alert {
    opacity: 0;
    transition: all .3s ease;
    visibility: hidden;
    -webkit-transform: scale(2);
    transform: scale(2);
    padding: 30px;
    position: fixed;
    z-index: 90;
    top: 50px;
    left: 50%;
    margin-left: -300px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}